body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
  color: #333;
}
h1 {
  text-align: center;
}


/* ====== EJERCICIO 1====== */
.caja-animada {
  position: relative;
  width: 200px;
  height: 150px;
  margin: 20px auto;
  background: #fff;
  border: 2px solid #ccc;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}

.caja-animada::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  border: 3px dashed red;
  animation: cambiarColor 3s infinite;
}

@keyframes cambiarColor {
  0% { border-color: red; }
  50% { border-color: blue; }
  100% { border-color: red; }
}

/* ====== EJERCICIO 2:====== */
.boton-brillo {
  position: relative;
  width: center;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0288d1;
  color: white;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.boton-brillo::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.4);
  transform: skewX(-45deg);
}

.boton-brillo:hover::after {
  animation: brillo 0.8s forwards;
}
@keyframes brillo {
  to {
    left: 200%;
  }
}

/* ====== EJERCICIO 3 ====== */
.mensaje-emergente {
  position: relative;
  margin: 40px auto;
  width: fit-content;
  padding: 10px 20px;
  background-color: #ffe082;
  border: 1px solid #ffca28;
}

.mensaje-emergente::after {
  content: "🔔";
  position: absolute;
  left: -30px;
  opacity: 0;
  animation: aparecer 2s infinite;
}

@keyframes aparecer {
  0% { transform: translateX(-20px); opacity: 0; }
  50% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(-20px); opacity: 0; }
}

/* ====== EJERCICIO 4====== */
.tarjeta-info {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tarjeta-info::before {
  content: "INFO";
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}