body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 10px;
}

h1 {
  text-align: center;
  background-color: #4a90e2;
  color: white;
  padding: 10px;
  margin: 0 0 20px 0;
}

section {
  background-color: white;
  margin: 15px auto;
  padding: 15px;
  width: 90%;
  max-width: 800px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  color: #4a90e2;
  font-size: 1.1em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
  margin-top: 0;
}

/* Ejercicio 1 */
.box {
  width: 200px;
  height: 100px;
  padding: 10px;
  border: 3px solid #333;
  margin: 10px;
  background-color: #dce8ff;
  display: inline-block;
  text-align: center;
  line-height: 80px;
}

.content-box { box-sizing: content-box; }
.border-box { box-sizing: border-box; }

/* Ejercicio 2 */
#positioning {
  position: relative;
  height: 300px;
  background-color: #eef5ff;
}

.static {
  position: static;
  background-color: #ffdcdc;
  padding: 5px;
}

.relative {
  position: relative;
  top: 10px;
  left: 15px;
  background-color: #d1ffd1;
  padding: 5px;
}

.absolute {
  position: absolute;
  top: 50px;
  left: 200px;
  background-color: #d1d1ff;
  padding: 5px;
}

.fixed {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #fff2b2;
  padding: 5px;
}

/* Ejercicio 3 */
.inline {
  display: inline;
  background-color: #f0a;
  color: white;
  padding: 4px;
}

.block {
  display: block;
  background-color: #0df;
  padding: 4px;
  margin-top: 5px;
}

.inline-block {
  display: inline-block;
  background-color: #fd0;
  padding: 5px;
  margin-top: 5px;
  border: none;
}

.oculto {
  background-color: #ccc;
  padding: 5px;
  margin-top: 5px;
}

#display:hover .oculto {
  display: none;
}

/* Ejercicio 4 */
.fuente-google {
  font-size: 18px;
  color: #444;
}


